<footer class="bg-dark text-white footer-background">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-warning">{{informacionContacto}}</h5>
        <p>Dirección: AV.Eloy Alfaro, Quito</p>
        <p>Teléfono: 123-456-7890</p>
        <p>Email: ec@licoreria.com</p>
      </div>
      <div class="col-md-4">
        <h5 class="text-warning">Obtener Ayuda</h5>
        <p>Estado del pedido</p>
        <p>Envío y entrega</p>
        <p>Cancelación del pedido</p>
      </div>
      <div class="col-md-4">
        <h5 class="text-warning">{{ 'redes sociales' | capitalizar }}</h5>
        <ul class="list-unstyled">
          <li><a href="https://es-la.facebook.com/" class="text-light"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="https://twitter.com/?lang=es" class="text-light"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/" class="text-light"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
</footer>
